extends layout

block content
  // Masthead
  header.masthead
    .container
      .masthead-subheading Bienvenidos!
      .masthead-heading.text-uppercase Red de Bicicletas
      a.btn.btn-primary.btn-xl.text-uppercase.js-scroll-trigger(href='/bicicletas') Ver bicis
  // Mapa
  section#mapa.page-section
    .container
      .text-center
        h2.section-heading.text-uppercase Mapa
      #main_map
  // Services
  section#services.page-section
    .container
      .text-center
        h2.section-heading.text-uppercase Servicios
        h3.section-subheading.text-muted Formá parte de la red de bicis más grande de Argentina.
      .row.text-center
        .col-md-4
          span.fa-stack.fa-4x
            i.fas.fa-circle.fa-stack-2x.text-primary
            i.fas.fa-bicycle.fa-stack-1x.fa-inverse
          h4.my-3 Bici-info
          p.text-muted
            | Encontrá información sobre modelos de bicicletas, marcas, gomerías, insumos, y más.
        .col-md-4
          span.fa-stack.fa-4x
            i.fas.fa-circle.fa-stack-2x.text-primary
            i.fas.fa-map-pin.fa-stack-1x.fa-inverse
          h4.my-3 Bici-tracking
          p.text-muted
            | Utilizá el mapa con el tracking en vivo para encontrarte con tus amigxs y salir a pedalear.
        .col-md-4
          span.fa-stack.fa-4x
            i.fas.fa-circle.fa-stack-2x.text-primary
            i.fas.fa-users.fa-stack-1x.fa-inverse
          h4.my-3 Bici-comunidad
          p.text-muted
            | Conectate y chateá con otras personas que comparten la misma pasión por salir a andar en bici.
  //Portfolio Grid
  //-
    section#galeria.page-section.bg-light
      .container
        .text-center
          h2.section-heading.text-uppercase Galería
          h3.section-subheading.text-muted Un espacio para compartir y descubrir personas y bicis.
        .row
          .col-lg-4.col-sm-6.mb-4
            .portfolio-item
              a.portfolio-link(data-toggle='modal' href='#portfolioModal1')
                .portfolio-hover
                  .portfolio-hover-content
                    i.fas.fa-plus.fa-3x
                img.img-fluid(src='assets/img/portfolio/01-thumbnail.jpg' alt='')
              .portfolio-caption
                .portfolio-caption-heading Threads
                .portfolio-caption-subheading.text-muted Illustration
          .col-lg-4.col-sm-6.mb-4
            .portfolio-item
              a.portfolio-link(data-toggle='modal' href='#portfolioModal2')
                .portfolio-hover
                  .portfolio-hover-content
                    i.fas.fa-plus.fa-3x
                img.img-fluid(src='assets/img/portfolio/02-thumbnail.jpg' alt='')
              .portfolio-caption
                .portfolio-caption-heading Explore
                .portfolio-caption-subheading.text-muted Graphic Design
          .col-lg-4.col-sm-6.mb-4
            .portfolio-item
              a.portfolio-link(data-toggle='modal' href='#portfolioModal3')
                .portfolio-hover
                  .portfolio-hover-content
                    i.fas.fa-plus.fa-3x
                img.img-fluid(src='assets/img/portfolio/03-thumbnail.jpg' alt='')
              .portfolio-caption
                .portfolio-caption-heading Finish
                .portfolio-caption-subheading.text-muted Identity
          .col-lg-4.col-sm-6.mb-4.mb-lg-0
            .portfolio-item
              a.portfolio-link(data-toggle='modal' href='#portfolioModal4')
                .portfolio-hover
                  .portfolio-hover-content
                    i.fas.fa-plus.fa-3x
                img.img-fluid(src='assets/img/portfolio/04-thumbnail.jpg' alt='')
              .portfolio-caption
                .portfolio-caption-heading Lines
                .portfolio-caption-subheading.text-muted Branding
          .col-lg-4.col-sm-6.mb-4.mb-sm-0
            .portfolio-item
              a.portfolio-link(data-toggle='modal' href='#portfolioModal5')
                .portfolio-hover
                  .portfolio-hover-content
                    i.fas.fa-plus.fa-3x
                img.img-fluid(src='assets/img/portfolio/05-thumbnail.jpg' alt='')
              .portfolio-caption
                .portfolio-caption-heading Southwest
                .portfolio-caption-subheading.text-muted Website Design
          .col-lg-4.col-sm-6
            .portfolio-item
              a.portfolio-link(data-toggle='modal' href='#portfolioModal6')
                .portfolio-hover
                  .portfolio-hover-content
                    i.fas.fa-plus.fa-3x
                img.img-fluid(src='assets/img/portfolio/06-thumbnail.jpg' alt='')
              .portfolio-caption
                .portfolio-caption-heading Window
                .portfolio-caption-subheading.text-muted Photography
  -//
    // Team
    section#team.page-section.bg-light
      .container
        .text-center
          h2.section-heading.text-uppercase Nosotros
          h3.section-subheading.text-muted Conocenos!
        .row
          .col-lg-4
            .team-member
              img.mx-auto.rounded-circle(src='assets/img/team/6.jpg' alt='')
              h4 Stephanie Shirley
              p.text-muted Empresaria Informática
              a.btn.btn-dark.btn-social.mx-2(href='#!')
                i.fab.fa-twitter
              a.btn.btn-dark.btn-social.mx-2(href='#!')
                i.fab.fa-facebook-f
              a.btn.btn-dark.btn-social.mx-2(href='#!')
                i.fab.fa-linkedin-in
          .col-lg-4
            .team-member
              img.mx-auto.rounded-circle(src='assets/img/team/4.jpg' alt='')
              h4 Ada Lovelace
              p.text-muted Informática
              a.btn.btn-dark.btn-social.mx-2(href='#!')
                i.fab.fa-twitter
              a.btn.btn-dark.btn-social.mx-2(href='#!')
                i.fab.fa-facebook-f
              a.btn.btn-dark.btn-social.mx-2(href='#!')
                i.fab.fa-linkedin-in
          .col-lg-4
            .team-member
              img.mx-auto.rounded-circle(src='assets/img/team/5.jpg' alt='')
              h4 Grace Hopper
              p.text-muted Programadora
              a.btn.btn-dark.btn-social.mx-2(href='#!')
                i.fab.fa-twitter
              a.btn.btn-dark.btn-social.mx-2(href='#!')
                i.fab.fa-facebook-f
              a.btn.btn-dark.btn-social.mx-2(href='#!')
                i.fab.fa-linkedin-in
  //-  
    // Clients
    .py-5
      .container
        .row
          .col-md-3.col-sm-6.my-3
            a(href='#!')
              img.img-fluid.d-block.mx-auto(src='assets/img/logos/envato.jpg' alt='')
          .col-md-3.col-sm-6.my-3
            a(href='#!')
              img.img-fluid.d-block.mx-auto(src='assets/img/logos/designmodo.jpg' alt='')
          .col-md-3.col-sm-6.my-3
            a(href='#!')
              img.img-fluid.d-block.mx-auto(src='assets/img/logos/themeforest.jpg' alt='')
          .col-md-3.col-sm-6.my-3
            a(href='#!')
              img.img-fluid.d-block.mx-auto(src='assets/img/logos/creative-market.jpg' alt='')
    // Contact
    section#contact.page-section
      .container
        .text-center
          h2.section-heading.text-uppercase Contacto
          h3.section-subheading.text-muted Lorem ipsum dolor sit amet consectetur.
        form#contactForm(name='sentMessage' novalidate='novalidate')
          .row.align-items-stretch.mb-5
            .col-md-6
              .form-group
                input#name.form-control(type='text' placeholder='Your Name *' required='required' data-validation-required-message='Please enter your name.')
                p.help-block.text-danger
              .form-group
                input#email.form-control(type='email' placeholder='Your Email *' required='required' data-validation-required-message='Please enter your email address.')
                p.help-block.text-danger
              .form-group.mb-md-0
                input#phone.form-control(type='tel' placeholder='Your Phone *' required='required' data-validation-required-message='Please enter your phone number.')
                p.help-block.text-danger
            .col-md-6
              .form-group.form-group-textarea.mb-md-0
                textarea#message.form-control(placeholder='Your Message *' required='required' data-validation-required-message='Please enter a message.')
                p.help-block.text-danger
          .text-center
            #success
            button#sendMessageButton.btn.btn-primary.btn-xl.text-uppercase(type='submit') Send Message
  //-
    // Portfolio Modals
    // Modal 1
    #portfolioModal1.portfolio-modal.modal.fade(tabindex='-1' role='dialog' aria-hidden='true')
      .modal-dialog
        .modal-content
          .close-modal(data-dismiss='modal')
            img(src='assets/img/close-icon.svg' alt='Close modal')
          .container
            .row.justify-content-center
              .col-lg-8
                .modal-body
                  // Project Details Go Here
                  h2.text-uppercase Project Name
                  p.item-intro.text-muted Lorem ipsum dolor sit amet consectetur.
                  img.img-fluid.d-block.mx-auto(src='assets/img/portfolio/01-full.jpg' alt='')
                  p
                    | Use this area to describe your project. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt repellat aperiam quasi sunt officia expedita beatae cupiditate, maiores repudiandae, nostrum, reiciendis facere nemo!
                  ul.list-inline
                    li Date: January 2020
                    li Client: Threads
                    li Category: Illustration
                  button.btn.btn-primary(data-dismiss='modal' type='button')
                    i.fas.fa-times.mr-1
                    |                                         Close Project
    // Modal 2
    #portfolioModal2.portfolio-modal.modal.fade(tabindex='-1' role='dialog' aria-hidden='true')
      .modal-dialog
        .modal-content
          .close-modal(data-dismiss='modal')
            img(src='assets/img/close-icon.svg' alt='Close modal')
          .container
            .row.justify-content-center
              .col-lg-8
                .modal-body
                  // Project Details Go Here
                  h2.text-uppercase Project Name
                  p.item-intro.text-muted Lorem ipsum dolor sit amet consectetur.
                  img.img-fluid.d-block.mx-auto(src='assets/img/portfolio/02-full.jpg' alt='')
                  p
                    | Use this area to describe your project. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt repellat aperiam quasi sunt officia expedita beatae cupiditate, maiores repudiandae, nostrum, reiciendis facere nemo!
                  ul.list-inline
                    li Date: January 2020
                    li Client: Explore
                    li Category: Graphic Design
                  button.btn.btn-primary(data-dismiss='modal' type='button')
                    i.fas.fa-times.mr-1
                    |                                         Close Project
    // Modal 3
    #portfolioModal3.portfolio-modal.modal.fade(tabindex='-1' role='dialog' aria-hidden='true')
      .modal-dialog
        .modal-content
          .close-modal(data-dismiss='modal')
            img(src='assets/img/close-icon.svg' alt='Close modal')
          .container
            .row.justify-content-center
              .col-lg-8
                .modal-body
                  // Project Details Go Here
                  h2.text-uppercase Project Name
                  p.item-intro.text-muted Lorem ipsum dolor sit amet consectetur.
                  img.img-fluid.d-block.mx-auto(src='assets/img/portfolio/03-full.jpg' alt='')
                  p
                    | Use this area to describe your project. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt repellat aperiam quasi sunt officia expedita beatae cupiditate, maiores repudiandae, nostrum, reiciendis facere nemo!
                  ul.list-inline
                    li Date: January 2020
                    li Client: Finish
                    li Category: Identity
                  button.btn.btn-primary(data-dismiss='modal' type='button')
                    i.fas.fa-times.mr-1
                    |                                         Close Project
    // Modal 4
    #portfolioModal4.portfolio-modal.modal.fade(tabindex='-1' role='dialog' aria-hidden='true')
      .modal-dialog
        .modal-content
          .close-modal(data-dismiss='modal')
            img(src='assets/img/close-icon.svg' alt='Close modal')
          .container
            .row.justify-content-center
              .col-lg-8
                .modal-body
                  // Project Details Go Here
                  h2.text-uppercase Project Name
                  p.item-intro.text-muted Lorem ipsum dolor sit amet consectetur.
                  img.img-fluid.d-block.mx-auto(src='assets/img/portfolio/04-full.jpg' alt='')
                  p
                    | Use this area to describe your project. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt repellat aperiam quasi sunt officia expedita beatae cupiditate, maiores repudiandae, nostrum, reiciendis facere nemo!
                  ul.list-inline
                    li Date: January 2020
                    li Client: Lines
                    li Category: Branding
                  button.btn.btn-primary(data-dismiss='modal' type='button')
                    i.fas.fa-times.mr-1
                    |                                         Close Project
    // Modal 5
    #portfolioModal5.portfolio-modal.modal.fade(tabindex='-1' role='dialog' aria-hidden='true')
      .modal-dialog
        .modal-content
          .close-modal(data-dismiss='modal')
            img(src='assets/img/close-icon.svg' alt='Close modal')
          .container
            .row.justify-content-center
              .col-lg-8
                .modal-body
                  // Project Details Go Here
                  h2.text-uppercase Project Name
                  p.item-intro.text-muted Lorem ipsum dolor sit amet consectetur.
                  img.img-fluid.d-block.mx-auto(src='assets/img/portfolio/05-full.jpg' alt='')
                  p
                    | Use this area to describe your project. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt repellat aperiam quasi sunt officia expedita beatae cupiditate, maiores repudiandae, nostrum, reiciendis facere nemo!
                  ul.list-inline
                    li Date: January 2020
                    li Client: Southwest
                    li Category: Website Design
                  button.btn.btn-primary(data-dismiss='modal' type='button')
                    i.fas.fa-times.mr-1
                    |                                         Close Project
    // Modal 6
    #portfolioModal6.portfolio-modal.modal.fade(tabindex='-1' role='dialog' aria-hidden='true')
      .modal-dialog
        .modal-content
          .close-modal(data-dismiss='modal')
            img(src='assets/img/close-icon.svg' alt='Close modal')
          .container
            .row.justify-content-center
              .col-lg-8
                .modal-body
                  // Project Details Go Here
                  h2.text-uppercase Red de Bicis
                  p.item-intro.text-muted Lorem ipsum dolor sit amet consectetur.
                  img.img-fluid.d-block.mx-auto(src='assets/img/portfolio/06-full.jpg' alt='')
                  p
                    | Use this area to describe your project. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt repellat aperiam quasi sunt officia expedita beatae cupiditate, maiores repudiandae, nostrum, reiciendis facere nemo!
                  ul.list-inline
                    li Date: January 2020
                    li Client: Window
                    li Category: Photography
                  button.btn.btn-primary(data-dismiss='modal' type='button')
                    i.fas.fa-times.mr-1
                    |                                         Close Project
  // Bootstrap core JS
  script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js')
  script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js')
  // Third party plugin JS
  script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js')
  // Contact form JS
  script(src='assets/mail/jqBootstrapValidation.js')
  script(src='assets/mail/contact_me.js')
  // Core theme JS
  script(src='js/scripts.js')
  script(src='js/map.js')

